/* start global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

:root {
    --text-color: #f0f0f0;
    --main-color: #04151f;
    --text-color2: #b0acae;
    --padding: 30px;
    --margin: 60px;
    --transition: .5s;
    --text-color-2: #19c8fa;
    --maincolor: rgb(99 152 167 / 50%);
}
::selection {
    background-color:rgba(61, 61, 61, 0.867);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    margin-right: auto;
}

/* small screen */
@media (min-width:767px) {
    .container {
        width: 750px;
    }
}

/* medium screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */
/* start compounds */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--padding);
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section {
    background-color: var(--main-color);
    text-align: center;
}

.main-heading {
    flex-direction: column;
}

.section .container h2::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #353235;
    border-radius: 50%;
    bottom: -30px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: var(--main-color);
}

.section .container h2::after {
    content: "";
    position: absolute;
    background-color: #353235;
    width: 300px;
    height: 1%;
    bottom: -20px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.section .container h2 {
    color: #353235;
    font-weight: 800;
    font-size: 32px;
    position: relative;
    margin: var(--margin) 0;
    text-transform: uppercase;
    text-shadow: -7px 2px 0 var(--text-color-2), 3px -4px 0 #0b95ade7;
    transition: .5s;
}

.section .container h2:hover {
    text-shadow: none;
}

.section .container .main-heading p {
    line-height: 2;
    font-weight: normal;
    color: var(--text-color2);
    margin-bottom: 100px;
}

/* end compounds */
/* start header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 60px;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 2 * var(--padding));
    height: 1px;
    bottom: 0;
    background-color: #a2a2a2;
    z-index: -1;
}

header .container .logo img {
    height: 40px;
}

.toggle {
    display: none;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    color: var(--text-color);
    transition: var(--transition);
}

header li a {
    padding: 20px 15px;
    display: block;
    position: relative;
    z-index: 2;
}

header nav .active,
header nav li a:hover {
    color: var(--text-color-2);
    border-bottom: 1px solid var(--text-color-2);
}

header nav .search {
    position: relative;
    margin-left: 30px;
    width: 40px;
    height: 30px;
}

header .search::before {
    content: "";
    position: absolute;
    width: 5%;
    height: 80%;
    background-color: var(--text-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

header .search i {
    padding: 20px 15px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

header nav i {
    color: var(--text-color);
}

@media (max-width:768px) {
    .toggle {
        display: block;
        color: var(--text-color);
    }

    header nav ul {
        display: none;
    }

    .toggle:hover+ul {
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(0 0 0 / 50%);
    }

    header nav li a {
        padding: 10px;
    }
}

/* end header  */
/* start landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../imgs/Owl\ Wallpaper\ -\ 1280x720.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--maincolor);
    transform: translateY(-50%);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content p {
    line-height: 1.7;
}

.landing .text .content h2 {
    margin-bottom: var(--margin);
    font-weight: normal;
    line-height: 1.6;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    font-size: 25px;
    color: white;
}

.landing .left {
    left: 25px;
}

.landing .change-background+i {
    right: 25px;
}

.landing .bullets {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 10%;
    transform: translatex(50%);
    right: 50%;
    justify-content: space-around;
}

.landing .bullets li {
    border: 1px solid #ebe7e8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: .5s;
}

.landing .bullets li.active {
    background-color: var(--text-color-2);
}

.landing .bullets li:hover {
    background-color: var(--text-color-2);
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }

    .landing .bullets {
        width: 20%;
    }

    .landing .change-background {
        display: none;
    }
}

/* end landing */
/* start services */
.services {
    padding: var(--margin) 0;
}
.services .project .text {
    text-align: start;
}

.services .project i {
    color: snow;
}

.services .project {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--padding);
}

.services .project h3 {
    color: var(--text-color-2);
    margin-bottom: var(--padding);
}

.services .project  p {
    color: var(--text-color);
    line-height: 2;
    margin-bottom: var(--padding);
}

@media (max-width:767px) {
    .services .project {
        flex-flow: column wrap;
        align-items: center;
    }

    .services .project .text {
        text-align: center;
    }
}

/* end services */
/* start section */
section {
    background-image: url(../imgs/space.jpg);
    background-size: cover;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    flex: 1;
    justify-content: space-between;
}

section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

section img {
    transform: translateY(45%);
    width: 80%;
}

section .img {
    position: relative;
}

section .text {
    position: absolute;
    background: var(--maincolor);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    color: white;
}

section .text h3 {
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 30px;
}

section .text p {
    display: inline-block;
    padding: 15px;
}

@media (max-width:767px) {
    section .text {
        width: 100%;
    }

    section .img {
        display: none;
    }
}

/* end section */
/* start portfolio */
.portfolio {
    padding: var(--padding) 0;
}

.portfolio ul {
    display: flex;
    justify-content: space-evenly;
    padding: var(--padding);
}

.portfolio li {
    padding: 15px;
    color: #495867;
    text-transform: uppercase;
    margin-right: 5px;
}

.portfolio li:hover, .portfolio .active {
    background-color: #588d9c;
    color: #f5e2c8;
}

.portfolio .imgs-con {
    padding: var(--margin) 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    row-gap: var(--padding);
}

.portfolio .imgs-con .box img {
    max-width: 100%;
    height: 100%;
    transition: .3s;
    filter: grayscale(1) blur(1px);

}

.portfolio .imgs-con .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-con .caption {
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -100%;
    padding: 15px;
    transition: .5s;
}

.portfolio .imgs-con .caption h4 {
    font-weight: normal;
}

.portfolio .imgs-con .caption p {
    color: var(--text-color-2);
    margin: 0;
}

.portfolio .imgs-con .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-con .box:hover img {
    transform: scale(1.1) rotate(2deg);
    filter: grayscale(0) blur(0);
}

.portfolio .imgs-con span {
    height: 100px;
    position: absolute;
    width: 100px;
    left: 50%;
    opacity: .6;
    transition: .5s;
    top: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--text-color-2);
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .imgs-con span::before {
    content: '\2b';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    font-weight: 900;
    color: white;
    font-size: 2rem;
}

.portfolio .imgs-con .box:hover span {
    transform: translate(-50%, -50%) scale(1);
}

.portfolio a {
    color: white;
    padding: 15px;
    background-color: var(--text-color-2);
}

@media (min-width:767px) {
    .portfolio .imgs-con .box {
        flex-basis: 48%;
    }
}

@media (max-width:767px) {
    .portfolio .imgs-con .box {
        flex-basis: 95%;
    }
}

@media (min-width:1000px) {
    .portfolio .imgs-con .box {
        flex-basis: 22.5%;
    }

    .portfolio .imgs-con span {
        height: 40px;
        width: 40px;
        font-size: 24px;
    }

    .portfolio .imgs-con span:before {
        font-size: 24px;
    }
}

/* end portfolio */
/* start video section */
.video-section {
    position: relative;
    background-color: var(--main-color);
    padding: var(--padding) 0;
}

.video-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 30%);
}

.video-section video {
    width: 100%;
    aspect-ratio: auto;
}

.video-section .text {
    position: absolute;
    background: var(--maincolor);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    color: white;
    text-align: center;
}

.video-section .text h2 {
    font-weight: normal;
    margin-bottom: var(--padding);
    text-transform: uppercase;
}

.video-section .text p {
    margin-bottom: var(--padding);
}

.video-section .text button {
    background-color: transparent;
    color: white;
    padding: 15px 10px;
    border: 1px groove rgb(179, 241, 85);
    text-transform: uppercase;
    transition: .5s;
}

.video-section .text button:hover {
    background-color: var(--main-color);
    color: snow;
    border-radius: 10px;
}

/* end video section */
/* start states */
.states {
    background-image: url(../imgs/63435cce98f2024dba550ae049c419b2.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    padding: var(--margin) 0;
}

.states::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.states .container {
    max-width: 100%;
    line-height: 2.5;
    position: relative;
    justify-content: center;

}

.states .box {
    color: white;
    padding: 45px ;
    background-color: var(--maincolor)
}
@media (max-width:767px) {
    .states .box {
        flex-basis: 100%;
    }
}
@media (min-width:768px) {
    .states .box {
        flex-basis: 50%;
    }
}
@media (min-width:992px) {
    .states .box {
        flex-basis: 25%;
    }
}
.states .box i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.states .number {
    font-size: 40px;
    font-weight: bold;
}

/* end states */
/* start skills */
.skills {
    background-color: var(--main-color);
    padding: var(--margin) 0;
    color: white;
}
.skills .container > div{
    display: flex;
    text-align: center;
    padding: var(--padding) 0;
    line-height: 2;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start; 
    position: relative; 
}
.skills .container h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.skills .container > div > p {
    color: var(--text-color);
    margin-bottom: var(--margin);
}
.skills .container .img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: var(--padding);
}
.skills .container img { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 25px;
}
.skills .container .text {
    line-height: 2;
    border-bottom: 2px solid var(--text-color2);
}
.skills .container .text p {
    margin-bottom: 10px;
    color: var(--text-color2);
    font-size: 14px;
    text-align: end;
}
.skills .bullets {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 20%;
    transform: translatex(50%);
    right: 50%;
    justify-content: space-around;
}

.skills .bullets li {
    border: 1px solid #ebe7e8;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: .5s;
}

.skills .bullets li.active ,
.skills .bullets li:hover {
    background-color: var(--text-color-2);
}
@media (max-width:767px) {
    .skills .container .img {
        flex-flow: column wrap;
    }
    .skills .img img {
        margin-bottom: var(--padding);
        margin-right: 0;
    } 
    .skills .container .img::before {
        right: 15%;
    }
}
.skills .our-skills .prog {
    margin-bottom: 3pc;
}
.skills .our-skills .prog h4 {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    text-shadow: -4px 3px 6px #444497, 4px -3px 6px snow;
    transition: .5s;
}
.skills .our-skills .prog:hover h4 {
    text-shadow: none;
}
.skills .our-skills .prog-con {
    width: 100%;
    background: gray;
    height: 40%;
    border-radius: 10px;
}
.skills .our-skills .prog span {
    display: block;
    height: 100%;
    background: var(--text-color-2);
    border-radius: 10px;
    position: relative;
}
.skills .our-skills .prog span::before {
    transform: scale(0);
    content: attr(data-progress);
    position: absolute;
    right: -4%;
    background-color: black;
    bottom: 35px;
    padding: 5px 0;
    border-radius: 10px;
    width: 50px;
    font-size: 14px;
    transition: .5s;
}
.skills .our-skills span::after {
    content: "";
    transition: .5s;
    transform: scale(0);
    position: absolute;
    border: 15px solid;
    right: -2%;
    bottom: 5px;
    border-color: black transparent transparent;
}
.skills .our-skills .prog:hover span::before,
.skills .our-skills .prog:hover span::after {
    transform: scale(1);
}
/* end skills */
/*  start quote  */
.quote {
    background-image: url(../imgs/FB_IMG_1657418512034.jpg);
    background-size: cover;
    background-position: center;
    padding: var(--margin) 0;
    position: relative;
    text-align: center;
    color: snow;
}
.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.quote .content {
    position: relative;
    line-height: 2;
    padding: var(--padding);
}
.quote .content q {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: var(--padding);
}
/*  end quote  */
/* start pricing */
.pricing {
    padding-bottom: var(--margin);
}
.pricing .plans {
    color: white;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax( 250px , 1fr));
    margin-bottom: var(--margin);
}
.pricing .plans .price-con {
    margin-bottom: var(--padding);
}
.pricing .plans .price-con .head {
    position: relative;
    border: 1px solid;
    border-color: var(--text-color-2) transparent;
    padding: var(--padding) 20px;
}
.pricing .plans .price-con .head h3 {
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.pricing .plans .price-con .head span::before {
    content: "/MO";
    position: absolute;
    RIGHT: -70%;
    bottom: 0;
    font-size: 20px;
}
.pricing .plans .price-con .head span::after {
    content: "$";
    position: absolute;
    left: -25%;
    top: -25%;
    color: #c3c3c3;
    font-size: 20px;
}
.pricing .plans .price-con span {
    font-size: xxx-large;
    position: relative;
    font-weight: 500;
}
.pricing .plans .price-con ul {
    display:flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid;
    border-color: transparent transparent var(--text-color-2);
    margin-bottom: var(--padding);
}
.pricing .price-con ul li {
    padding: calc(.5 * var(--padding));
}
.pricing .price-con li:not(:last-child) {
    border-bottom: 1px solid var(--text-color-2);
}

.pricing .plans .price-con .foot {

}
.pricing .plans .foot a {
    padding: 20px;
    position: relative;
    background-position:center ;
    transition: .5s;
}
.pricing a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: #f582f5 yellow transparent transparent;
    top: 0;
    right: 0;
    transition: .3s;
}
.pricing a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: transparent transparent var(--text-color-2) var(--text-color-2);
    bottom: 0;
    left: 0;
    transition: .3s;
}
.pricing .price-con .foot:hover a {
    background-color: var(--text-color-2);
    box-shadow: 0px 0px 3px 1px #d0b;
}
.pricing .price-con .foot:hover a::after {
    transform: scale(0);
}
.pricing .contact {
    color: var(--text-color);
}
.pricing .contact p {
    margin-bottom:var(--padding) ;
}
.pricing .contact a {
    padding: 20px;
    position:relative;
    transition: .5s;
    fill: #588d9c;
}
.pricing .contact a:hover {
    background-color: var(--text-color-2);
    box-shadow: 0px 0px 3px 1px #d0b;
}
.pricing .contact:hover a::after {
    transform: scale(0);
}
/* end pricing */
/* start subscribe */
.subscribe {
    padding: var(--margin) 0;
    background-image: url(../imgs/FB_IMG_1638954441759.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: var(--text-color);
    background-position: center;
}
.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
}
@media (max-width:767px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
    max-width: 100%;
}
.subscribe i {
    top: 20px;
    position: absolute;
    left: 35px;
    transform: translate(-100%, -100%);
}
.subscribe input[type="email"] {
    border: 1px solid var(--main-color);
    outline: none;
    color: var(--text-color);
    caret-color: #03a9f4;
    background: none;
    padding: 10px 10px 10px 50px;
    width: calc(100% - 130px);
}
.subscribe input[type="submit"] {
    width: 130px;
    position: relative;
    color: var(--text-color);
    transition: .5s;
    border: none;
    cursor: pointer;
    background: var(--main-color);
}

.subscribe input[type="email"]::placeholder {
    color: var(--text-color);
}
.subscribe form p {
    margin-top: var(--padding);
    line-height: 2;
    word-spacing: 3px;
    font-size: 18px;
}
/* end subscribe */
/* start contact */
.contact {
    padding: var(--margin) 0;
}
.contact .content {
    color: var(--text-color);
}
.contact form {
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-around;
}
.contact form .main {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-bottom: var(--padding);
}
.contact form textarea {
    height: 200px;
}
.contact form .sub {
    padding: 15px;
    color: var(--text-color);
    background: var(--text-color-2);
    margin-left: auto;
    cursor: pointer;
}
.contact .info {
    flex: 1;
}
.contact .info span {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color2);
}
.contact .info span:last-of-type {
    margin-bottom: 50px;
}
.contact .info h4 {
    margin-bottom: var(--padding);
    font-weight: 800;
    text-transform: uppercase;
}
.contact .info address {
    line-height: 1.8;
    color: var(--text-color2);
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
    }
    .contact .info {
        align-self: none;
        order:-1;
    }
    .contact .sub {
        margin-left:none;
        margin-bottom: 30px;
    }
}
/* End contact */
/* start footer */
footer {
    padding:calc(var(--margin) / 2) 0;
    background-image: url(../imgs/FB_IMG_1660380200331.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
footer .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    position: relative;
}
footer .container p:not(.copy) {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
    text-transform: uppercase;
}

footer .social {
    margin-bottom: 30px;
}
footer .social i {
    margin-right: 15px;
}
footer p.copy {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
}
footer span {
    color: var(--text-color-2);
}
/* end footer */